* { box-sizing: border-box; }
body {font-family: Verdana, Arial, sans-serif;
      margin: 0;
}

header { background-image: url(petzheader.jpg);
         background-repeat: no-repeat; 
         background-size: cover;		 
}
.header2{background-image:url(catheader.jpg)}
.header3{background-image:url(horseheader.jpg)}
.header4{background-image:url(bunnyheader.jpg)}
.header4{background-image:url(bunnyheader.jpg)}

.navul{text-bottom:none;
text-align:center;
position:in-line;}
header { grid-area: h; }
nav    { grid-area: n; }
main   { grid-area: m; }
aside  { grid-area: a; }
footer { grid-area: f; }
#wrapper {  background-color: #f6f6f7; 
            color: #AA6B39;
			font-size:110%;	
            display: grid;
            grid-template: 
		    "h "
			"n "
			"m"
			"f" ;
		}

h1 { text-align: center;
     color: #4c5c54;
     font-size: 300%;
    text-shadow: 10px 10px 10px #a0ada8;  }
h4{color:#a0ada8}
h2 { color: #4a5953; }
h3{text-align: center;
     color: #4c5c54;
     font-size: 150%;
text-shadow: 10px 10px 10px #a0ada8;}


nav{   font-size: 110%; 
text-decoration:none;}

nav ul { padding-left:0;
         display: flex; 
	     flex-direction: row; 
	     flex-wrap: wrap; 
	     justify-content: space-around;
list-style-type:none;
 }	  
nav ul ul{position:flex;
background-color:#C2AD78;
padding-left:3;
text-align:right;
display:none;
text-decoration:none;
}
nav ul ul li{
	border:1px solid #F6F6F7;
	display:block;
	width:4em;
	padding-left:0em;
margin-left:2;
text-align:center;
}
nav li:hover ul{display:block;}
nav li { 
		 min-width: 5em;
	     font-size: 100%;
		 text-align: center;
		 background-color: #c2ad78; 
		 margin: .6em;
		 padding: .5em;
font-weight:bold;		 }
nav a { text-decoration: none;
transition:background-color 1s linear;}
nav a:link { color: #f6f6f7; }
nav a:visited { color: #AA6B39; }
nav a:hover { color: #4a5953; 
background-color:#f6f6f7;}

aside {  display: none;  padding: 1em;}
img { max-width: 100%;
      height: auto; }
main {   padding: 0 1em 1em;    }

footer { text-align: center;
		 font-style: italic;
		 padding: 1em; 
		 background-color:#FFFFFF;}

@media (min-width: 600px) {
        #wrapper { grid-template:
		            " h   h "
					" n   n "
					" m   a "
					" f   f "
					/ 60% 40% ; }
   			aside { display: block; }
			
}
@media (min-width: 1024px) {
		  nav ul { display: flex; 
	           flex-direction: column; 
	           flex-wrap: nowrap; }
          #wrapper { grid-template: 
		             " h   h   h"
					 " n   m   a"
					 " f   f   f" 
			        / 150px 1fr 30%; }
			
}

.studio{ font-style: italic;}
	a{color:#C2AD78;
	text-decoration:none;
	}
 a:link { color: #c2ad78; }
a:visited { color: #AA6B39; }
 a:hover { color: #4a5953; 
}
details{text-align: left;
     color: #4c5c54;
     font-size: 100%;
text-shadow: 10px 10px 10px #a0ada8;}
summary{color:#AA6B39;
font-size: 100%;
text-shadow: 10px 10px 10px #FFFFFF;}
form {
display: grid;
	    grid-template-rows: auto;
	    grid-template-columns: 12em 1fr;
	    grid-gap: 1em;
	    width: 40%;
		padding-bottom:0%;
		font-size:20px;}
		label{float:left;
text-align:left;}
input[type="submit"] {grid-column: 2 / 3;
text-align:center;}
table{margin-left:auto;
		  margin-right:auto;
		  text-align:center;
		  width:60%;
		  border:1px solid #3F2860;
		  border-collapse:collapse;
		  margin-bottom:1em;
		  }
		  td,th{ padding: 5px; border: 1px solid #3F2860; }
tr:nth-of-type(even) {background: #c2ad78;}
caption { margin: 1em; font-weight: bold; font-size: 120%}
#gallery { position: relative; }
figure { position: absolute;
         left: 280px;
		 text-align: center;
		 opacity: .25; }
#gallery ul { width: 300px; 
              list-style-type: none;
}
#gallery li { display: inline; 
              float: left;
			  padding: 10px;
}
#gallery img { border-style: none; }
#gallery a { color: #c2ad78;
             text-decoration: none; 
			 font-style: italic;
}
#gallery span { position: absolute; 
                left: -1000px;
				opacity: 0;
                transition: opacity 3s ease-in-out; 
}
#gallery a:hover span { position: absolute;
                        top: 16px; 
						left: 320px;
                        text-align: center; 
						opacity: 1;